table th {
    text-align: center !important;
}

tr.row-editor, tr.row-part {
    background-color: floralwhite !important;
}

table td input {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.simple-deletable-row {
    text-decoration: line-through;
}

/* editable table */
.deletable-row td:not(:last-child) {
    text-decoration: line-through;
}

/* various tables */
.personsTable {
    margin-top: 0.5em;
}

.personsTable table tr td:first-child {
    max-width: 100px;
}

.catsTable {
    width: 100%;
}

/* buttons */
div.buttons {
    height: 24px;
    text-align: center !important;
    margin: auto;
}

[data-btn] {
    cursor: pointer;
}

img[data-btn] {
    height: 24px;
}

/* cancel responstable-table.css */
body {
    padding: unset;
}
