table th {
    text-align: center !important;
}

tr.row-editor, tr.row-part {
    background-color: ivory !important;
}

table td input {
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.special-row {
    background-color: darkorange;
}

/* editable table */
.deletable-row td:not(:last-child) {
    text-decoration: line-through;
}

/* various tables */
.personsTable {
    margin-top: 0.5em;
}

.personsTable table tr td:first-child {
    max-width: 100px;
}

.catsTable {
    width: 100%;
}

/* buttons */
div.buttons {
    height: 24px;
    min-width: 56px;
    text-align: center !important;
    margin: auto;
}

[data-btn] {
    cursor: pointer;
}

img[data-btn] {
    height: 24px;
}

/* cancel responstable-table.css */
body {
    padding: unset;
}

/* errors-table */
.errors-table {
    background-color: #f7f5e5 !important;
    color: #244446;
    width: 100%;
}

.errors-table .title {
    color: #483444;
}

.errors-table .time {
    font-size: x-small;
}

.errors-table tr {
    background-color: inherit !important;
    color: inherit !important;
    border: 1px solid #ddd;
}

.errors-table th, .errors-table td {
    background-color: inherit !important;
    color: inherit !important;
    border: inherit !important;
    vertical-align: middle;
}

.errors-table td {
}

.errors-table td.error-data {
    width: 25%;
}

.errors-table td.error-message {

}

/* document */
body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana, serif;
  font-weight: normal;
  color: #024457;
}

h1 span {
  color: #167F92;
}

