div.dyna-sel-one-comp input {
    margin-bottom: 0.2em;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

div.dyna-sel-one-comp select {
    display: block;
    width: 100%;
}

.dyna-sel-one-description {
}

.removed {
    display: none !important;
}