/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 50 version
*/

.responstable {
    margin: auto !important;
    border-radius: initial;
}

div.personsTable {
    margin-top: 0.5em;
}

div.personsTable > label {
    font-size: small;
}

.catsTable {
    width: 100%;
}

/* exposed by ButtonsRow class */
.buttons-row {
}

button {
    color: brown;
}

/*
.editor td {
    font-weight: bold;
    color: black;
}
*/
