.last-cell  {
    display: block;
    /*border-style: solid;*/
}

.last-cell.name {
    padding-bottom: 5px;
}

.last-cell.name input {
    width: -webkit-fill-available;
}

button {
    color: brown;
}

button.cancel {
    float: right;
}