.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

.container > .title {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: bold;
}

.fit-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

td.center, th.center {
    text-align: center !important;
}

.section {
    margin: 0.5rem auto;
    text-align: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fill-available {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.buttons :not(:first-child) {
    margin-left: 0.4rem;
}

.section.clock-internal-state {
    display: flex;
    flex-direction: column;
}

.section.clock-internal-state div {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.section.clock-internal-state div input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: aliceblue;
}

div[data-part], .parent {
    padding: .3rem;
    border-color: firebrick;
    border-style: dashed;
    border-width: thin;
    margin-bottom: .3rem;
}

.parent {
    border-color: aqua;
}

.mb3 {
    margin-bottom: .3rem;
}

.ml3 {
    margin-left: .3rem;
}

.bgc-aliceblue {
    background-color: aliceblue;
}

.scenario10 [data-part] {
    display: flex;
    justify-content: center;
}

/* space between "badge" guests */
.scenario10 .flex-start [data-part]:not(:last-child) {
    margin-right: 0.3rem;
}

/* Id and Name space */
.scenario10 [data-part] div:not(:first-child) {
    margin-left: 0.5rem;
}

.scenario10 [data-part] label {
    font-weight: bold;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}