.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

.container > .title {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-bottom: 1rem;
}

.title {
    font-weight: bold;
}

.fit-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.section {
    margin: 1rem auto;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fill-available {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.buttons :not(:first-child) {
    margin-left: 0.4rem;
}

.section.clock-internal-state {
    display: flex;
    flex-direction: column;
}

.section.clock-internal-state div {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.section.clock-internal-state div input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: aliceblue;
}

.part {
    padding: .3rem;
    border-style: dashed;
    border-width: thin;
    margin-bottom: .3rem;
}

.parent {
    border-color: #167F92;
}

.thin-dashed-border {
    border-style: dashed;
    border-width: thin;
}

.mb3 {
    margin-bottom: .3rem;
}

.bgc-aliceblue {
    background-color: aliceblue;
}