.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid black;
}

.container > .title {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: bold;
}

.fit-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

td.center, th.center {
    text-align: center !important;
}

.section {
    margin: 0.5rem auto;
    text-align: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fill-available {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.buttons :not(:first-child) {
    margin-left: 0.4rem;
}

.section.clock-internal-state {
    display: flex;
    flex-direction: column;
}

.section.clock-internal-state div {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.section.clock-internal-state div input {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    background-color: aliceblue;
}

.parent {
    border-color: aqua !important;
}

.child {
    border-color: firebrick !important;
}

div[data-part] {
    border-color: firebrick;
}

div[data-part], .parent {
    padding-left: .3rem;
    padding-right: .3rem;
    margin-bottom: .3rem !important;
    margin-top: .3rem !important;
    border-style: dashed;
    border-width: thin;
}

.mb3 {
    margin-bottom: .3rem !important;
}

.ml3 {
    margin-left: .3rem;
}

.bgc-aliceblue {
    background-color: aliceblue;
}

.bgc-antiquewhite {
    background-color: antiquewhite;
}

.scenario10 [data-part="cats"] [data-type],
.scenario12 [data-part="dogs"] [data-type] {
    display: flex;
    justify-content: center;
}

/* space between "badge" items */
.scenario10 .flex-start [data-part="cats"] [data-type]:not(:last-child),
.scenario12 .flex-start [data-part="dogs"] [data-type]:not(:last-child) {
    margin-right: 0.3rem;
}

/* Id and Name space */
.scenario10 [data-part] div:not(:first-child),
.scenario12 [data-part] div:not(:first-child) {
    margin-left: 0.5rem;
}

.scenario10 [data-part] label,
.scenario12 [data-part] label {
    font-weight: bold;
    display: inline;
}

p[data-part] {
    display: inline !important;
}

.scenario12 table {
    padding: .1rem .2rem .2rem;
}

.disabled {
    display: none;
}

.deactivated {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

.min-width-33-percent {
    min-width: 33%;
}

.scenario11 textarea {
    margin: 0 5rem;
}

.hand-over:hover {
    cursor: pointer;
}