div.dyna-sel-one-comp input {
    /*margin-bottom: 0.1em;*/
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

div.dyna-sel-one-comp select {
    display: block;
    width: 100%;
}

.dyna-sel-one-info {
    padding-bottom: 1.2em;
    font-size: smaller;
}

.removed {
    display: none !important;
}

.selected-title {
    width: auto !important;
}