
/*
th img {
    cursor: pointer;
    display: block;
    margin: auto;
}
*/

/*
td.buttons [data-btn='cancel'] {
    margin-bottom: 0.5em;
}

td.buttons button {
    width: 70px;
    display: block;
    margin: auto;
}
*/
